/* #bookimg{
    width:100%;
    height:70vh;
    object-fit: cover;
}
button {
    background-color:#755139FF; 
    color: white;
    padding: 8px 8px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color:rgb(97, 60, 36);   
  }
  
  button i {
    font-size: 18px;
  }
  
.fa-search {
    
    color: #333;
  } */
  .homepage-container {
    font-family: 'Roboto', sans-serif;
    /* background-color: #f4f4f9; */
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    background-color: #ffebcd; /* Soft light yellowish background for the header */
  padding: 20px;
  border-radius: 8px;
  }
  
  .header h1 {
    font-size: 36px;
    color: #3c3c3c;
    margin-bottom: 20px;
  }
  
  .filters {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .select-category, .search-input, .search-button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f0f8ff;
  }
  
  .select-category {
    width: 200px;
  }
  
  .search-input {
    width: 250px;
  }
  
  .search-button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  
  .image-section {
    text-align: center;
    margin-bottom: 30px;
  }
  #bookimg {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 8px;
  }
  